.virtual-timeline-div {
  position: relative;
  width: 100%;
  height: 100%;
}

.static-overlay-canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 5;
}

.timeline-track-list-container {
  width: 100%;
  position: relative;
}

.virtual-track-row {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.track-canvas-container {
  position: relative;
  width: 100%;
}

.track-canvas {
  display: block;
}
